<div class="col-lg-12 " *ngIf="alertStyle && alertMessage;" [ngClass]='{transition:show}' >
	<div class="alert alert-{{alertStyle}} fade in m-b-15">
		{{alertMessage}}
		<span class="close" data-dismiss="alert">×</span>
	</div>

</div>
<div class="col-lg-6 " *ngIf="identity">


	<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
	    <div class="panel-heading">
	        <div class="panel-heading-btn">
	            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
	            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
	            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
	            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
	        </div>
	        <h4 class="panel-title">{{titulo}} </h4>
	    </div>
		<div class="panel-body">
		   <form
		   	#formArtist="ngForm" 
	    	(ngSubmit)="onSubmit()"
	    	
	    	 data-parsley-validate="true"

		   >
		   	
		   		<fieldset>
		   			
		   			<div class="form-group">
		               <label >Nombre</label>
		               <input 
		               #name="ngModel" 
		               [(ngModel)]="artist.name" 
		               name="name"				                   
		               required minlength="3" 
		               pattern="^([A-Za-záéíóú]){3,30}(\s([A-Za-záéíóú]){3,30})?$" 
		               class="form-control" type="text" placeholder="Nombre"  />
		            </div>

		            <div *ngIf="name.invalid && (name.dirty || name.touched) && !alertRegister"
					     class="alert alert-danger">

						Formato inválido

					</div>



					<div class="form-group">
		               <label >Descripción</label>
		               <textarea 
		                #description="ngModel" 
		               [(ngModel)]="artist.description" 
		               name="description"				                   
		               minlength="5" 
		               
		               class="form-control" type="text" placeholder="Descripción"  >


		               </textarea>
		            </div>

		            <div *ngIf="description.invalid && (description.dirty || description.touched) && !alertRegister"
					     class="alert alert-danger">

						Formato inválido

					</div>

					<div class="form-group" *ngIf="is_edit">
					 		<label >Imagen de Artista</label>
							<input  type="file" class="form-control file" (change)="fileChangeEvent($event)">

		           	</div>

					 <button type="submit" class="btn btn-md btn-primary m-r-5 col-lg-12" [disabled]="!formArtist.valid ">
		            	{{sub_txt}}
		            	
		            </button>
		   		</fieldset>

		   </form>
		</div>
	</div>

</div>
<div class="col-lg-6 " *ngIf="identity && is_edit">
			<img 

			*ngIf="artist.image && artist.image!='null'"
			src="{{url + 'get-image-artist/' +artist.image}}" 
			alt="" class="img-thumbnail rounded profile-image" />
		
</div>




