<div class="head-page" *ngIf="artist">
	<h1> {{artist.name}} </h1>
	
</div>

<div class="row m-t-10" *ngIf="artist">
	<div class="col-lg-12">
		
		<div class="col-lg-3" >
			<div class="card"  >
				<img class="card-img-top" style="" src="{{url + 'get-image-artist/' + artist.image}}" alt="">
				<div class="card-block">
					<h4 class="card-title m-t-0 m-b-10">
						<a [routerLink]="['/artist-detail/',artist._id]">{{artist.name}}</a> 
					</h4>
					<p class="card-text">
						{{artist.description}}

					</p>
					<a class="btn btn-sm btn-primary" *ngIf="identity.role=='ROLE_ADMIN'"
						[routerLink]="['/editar-artista',artist._id]"
					>
					Editar
					</a>
					
					<a class="btn btn-sm btn-danger" *ngIf="identity.role=='ROLE_ADMIN'"
						href="#"
					>
					Borrar
					</a>

						
				</div>

			</div>
		</div>
	</div>
	
</div>