<div class="head-page" *ngIf="identity">
	<h1> {{titulo}}  </h1>
	
</div>

<div class="row">
	
	<div class="col-lg-12"> 
		<a class="btn btn-default pull-left" *ngIf="identity.role=='ROLE_ADMIN'"  [routerLink]="['/crear-artista']">
			Añadir artista

		</a>

		<u class="pagination pull-right">
			<li>
				<a [routerLink]="['/artist',prev_page]">< {{prev_page}}</a>
			</li>
			<li>
				<a [routerLink]="['/artist',next_page]">{{next_page}}></a>
			</li>
		</u>
	</div>
</div>


<div class="row m-t-10" *ngIf="identity">
	<div class="col-lg-12">
		
		<div class="col-lg-3" *ngFor="let artist of artists">
			<div class="card"  >
				<img class="card-img-top" style="" src="{{url + 'get-image-artist/' + artist.image}}" alt="">
				<div class="card-block">
					<h4 class="card-title m-t-0 m-b-10">
						<a [routerLink]="['/artist-detail/',artist._id]">{{artist.name}}</a> 
					</h4>
					<p class="card-text">
						{{artist.description}}

					</p>
					<a class="btn btn-sm btn-primary" *ngIf="identity.role=='ROLE_ADMIN'"
						[routerLink]="['/editar-artista',artist._id]"
					>
					Editar
					</a>
					
					<a class="btn btn-sm btn-danger" *ngIf="identity.role=='ROLE_ADMIN'"
						href="#"
					>
					Borrar
					</a>

						
				</div>

			</div>
		</div>
	</div>
	
</div>