
<div class="col-lg-12 " *ngIf="alertStyle && alertMessage;" [ngClass]='{transition:show}' >
	<div class="alert alert-{{alertStyle}} fade in m-b-15">
		{{alertMessage}}
		<span class="close" data-dismiss="alert">×</span>
	</div>

</div>
<div class="col-lg-6 " *ngIf="identity">


	<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
	    <div class="panel-heading">
	        <div class="panel-heading-btn">
	            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
	            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
	            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
	            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
	        </div>
	        <h4 class="panel-title">{{ titleEdit }}</h4>
	    </div>
		<div class="panel-body">
		   	<form 
		    	#userUpdateForm="ngForm" 
		    	(ngSubmit)="onSubmit()"
		    	id="userUpdateForm"
		    	 data-parsley-validate="true">
		        <fieldset>
		        	<div class="form-group">
		               <label for="exampleInputEmail1">Nombre</label>
		               <input 
		               #name="ngModel" 
		               [(ngModel)]="user.name" 
		               name="name"				                   
		               required minlength="3" 
		               pattern="^([A-Za-záéíóú]){3,30}(\s([A-Za-záéíóú]){3,30})?$" 
		               class="form-control" type="text" placeholder="Nombre"  />
		            </div>

		            <div *ngIf="name.invalid && (name.dirty || name.touched) && !alertRegister"
					     class="alert alert-danger">

						Formato inválido

					</div>

		            <div class="form-group">
		                <label for="exampleInputEmail1">Apellidos</label>
		               <input 
		               #surname="ngModel" 
		               [(ngModel)]="user.surname" 
		               name="surname"
		                required minlength="3" 
		               pattern="^([A-Za-záéíóú]){3,30}(\s([A-Za-záéíóú]){3,30})?$" 
		               class="form-control" type="text" 
		               placeholder="Apellidos" />
		            </div>

		            <div *ngIf="surname.invalid && (surname.dirty || surname.touched) && !alertRegister"
					     class="alert alert-danger">

						Formato inválido

					</div>


		            <div class="form-group">
		                <label for="exampleInputEmail1">Email</label>
		               <input 
		               #email="ngModel" 
		               [(ngModel)]="user.email" 
		               name="email" 
		               required minlength="5" 
		               pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" 
		               class="form-control" type="text" id="email" name="email"  placeholder="Email"  />
		            </div>
		            <div *ngIf="email.invalid && (email.dirty || email.touched) && !alertRegister"
					     class="alert alert-danger">

						Formato inválido

					</div>
					<div class="form-group">
					 		<label >Imagen de perfil</label>
							<input  type="file" class="form-control file" (change)="fileChangeEvent($event)">

		           	</div>
		            <button type="submit" class="btn btn-md btn-primary m-r-5 col-lg-12" [disabled]="!userUpdateForm.valid ">
		            	Actualizar
		            </button>
		        </fieldset>
		    </form>
		</div>
	</div>

</div>


<div class="col-lg-6 " *ngIf="identity">
			<img 

			*ngIf="user.image && user.image!='null'"
			src="{{url + 'get-image-user/' +user.image}}" 
			alt="" class="img-thumbnail rounded profile-image" />
		
</div>


