<div>
	<div class="col-md-6 col-md-offset-4 vert-offset-top-2" *ngIf="!identity">
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#default-tab-1" data-toggle="tab">
					<span class="visible-xs">Acceso</span>
					<span class="hidden-xs">Acceso</span>
				</a>
			</li>
			<li class="">
				<a href="#default-tab-2" data-toggle="tab">
					<span class="visible-xs">Registro</span>
					<span class="hidden-xs">Registro</span>
				</a>
			</li>
			
		</ul>

		<div class="tab-content">
			<div class="tab-pane fade active in" id="default-tab-1">
				<h3 class="m-t-10"><i class="fa fa-sign-in"></i> Log in</h3>
					
					<div class="panel-body">
						<div *ngIf="errorMessage"  class="alert alert-warning fade in ">
							<strong>Error! </strong>{{errorMessage}}
						</div>
				        <form 
				        	#loginForm="ngForm" 
				        	(ngSubmit)="onSubmit()"
				        	id="loginform"
				        	data-parsley-validate="true"
				        	>
				            <fieldset>
				                <div class="form-group">
				                    <label for="exampleInputEmail1">Email</label>
				                   <input  
				                    #email="ngModel" 
				                    name="email" 
				                    [(ngModel)]="user.email" 
				                    
				                   	class="form-control" type="text"  data-parsley-type="email" placeholder="Email" data-parsley-required="true" required />
				                   
				                </div>

				                <div class="form-group">
				                   <label for="exampleInputPassword1">Password</label>
				                   <input 
				                   #password="ngModel" 
				                   [(ngModel)]="user.password" 
				                   name="password" 
				                   type="password" class="form-control"  placeholder="Password" data-parsley-required="true" required/>

				                </div>
				             	
				                <button type="submit" class="btn  btn-primary m-r-5 col-lg-12" [disabled]="!loginForm.valid">Login </button>
				            </fieldset>
				        </form>

				    </div>
					
			</div>
			<div class="tab-pane fade" id="default-tab-2">
				<h3 class="m-t-10"><i class="fa fa-sign-in"></i> Sign up</h3>

					<div *ngIf="alertRegister && alertRegisterStyle;"
					     class="alert alert-{{alertRegisterStyle}}">

						{{alertRegister}}
					</div>
					<div *ngIf="alertErrorRegister && alertErrorRegisterStyle;"
					     class="alert alert-{{alertErrorRegisterStyle}}">
						{{alertErrorRegister}}
					</div>

					
					<div class="panel-body" *ngIf="!alertRegister">
				        <form 
				        	#registerForm="ngForm" 
				        	(ngSubmit)="onSubmitRegister()"
				        	id="registerform"
				        	 data-parsley-validate="true">
				            <fieldset>
				            	<div class="form-group">
				                   <label for="exampleInputEmail1">Nombre</label>
				                   <input 
				                   #name="ngModel" 
				                   [(ngModel)]="user_register.name" 
				                   name="name"				                   
				                   required minlength="3" 
				                   pattern="^([A-Za-záéíóú]){3,30}(\s([A-Za-záéíóú]){3,30})?$" 
				                   class="form-control" type="text" placeholder="Nombre"  />
				                </div>

				                <div *ngIf="name.invalid && (name.dirty || name.touched) && !alertRegister"
								     class="alert alert-danger">

									Formato inválido

								</div>

				                <div class="form-group">
				                    <label for="exampleInputEmail1">Apellidos</label>
				                   <input 
				                   #surname="ngModel" 
				                   [(ngModel)]="user_register.surname" 
				                   name="surname"
				                    required minlength="3" 
				                   pattern="^([A-Za-záéíóú]){3,30}(\s([A-Za-záéíóú]){3,30})?$" 
				                   class="form-control" type="text" 
				                   placeholder="Apellidos" />
				                </div>

				                <div *ngIf="surname.invalid && (surname.dirty || surname.touched) && !alertRegister"
								     class="alert alert-danger">

									Formato inválido

								</div>


				                <div class="form-group">
				                    <label for="exampleInputEmail1">Email</label>
				                   <input 
				                   #email="ngModel" 
				                   [(ngModel)]="user_register.email" 
				                   name="email" 
				                   required minlength="5" 
				                   pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" 
				                   class="form-control" type="text" id="email" name="email"  placeholder="Email"  />
				                </div>
				                <div *ngIf="email.invalid && (email.dirty || email.touched) && !alertRegister"
								     class="alert alert-danger">

									Formato inválido

								</div>
				                <div class="form-group">
				                    <label for="exampleInputPassword1">Password</label>
				                    <input 
				                    #password="ngModel" 
				                  	[(ngModel)]="user_register.password" 
				                   	name="password" 
				                   	required minlength="8"
				                    type="password" id="password-indicator-default" class="form-control m-b-5" placeholder="Password"/>
				                    <div id="passwordStrengthDiv" class="is0 m-t-5"></div>
				                </div>

				                <div *ngIf="password.invalid && (password.dirty || password.touched) && !alertRegister"
								     class="alert alert-danger">

									Formato inválido

								</div>

				                <div class="form-group">

				                    <label>Confirmar Password</label>
				                    <input 
				                    #passwordconf="ngModel" 
				                   	[(ngModel)]="user_register.passwordconf" 
				                   	name="passwordconf" 
				                   	required minlength="8" 
				                    type="password" class="form-control" placeholder="Password" >
				                </div>
					             <div *ngIf="passwordconf.invalid && (passwordconf.dirty || passwordconf.touched) &&  !alertRegister"
								     class="alert alert-danger">

									Formato inválido

								</div>
								<div *ngIf="passwordconf.touched && password.value!=passwordconf.value"
								     class="alert alert-danger">

									Las contraseñas no coinciden

								</div>
				                <button type="submit" class="btn btn-md btn-primary m-r-5 col-lg-12" [disabled]="!registerForm.valid || (password.value!=passwordconf.value)">Enviar</button>
				            </fieldset>
				        </form>
				    </div>
			</div>
		</div>
			
	</div>
</div>


