	
<div *ngIf="identity" id="header" class="header navbar navbar-default navbar-fixed-top">
	<!-- begin container-fluid -->
	<div class="container-fluid">
		<!-- begin mobile sidebar expand / collapse button -->
		<div class="navbar-header">
			<a href="/" class="navbar-brand"><i class="fa fa-cubes"></i> {{title}}  </a>
			<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<!-- end mobile sidebar expand / collapse button -->
		
		<!-- begin header navigation right -->
		<ul class="nav navbar-nav navbar-right">
			<li>
				<form class="navbar-form full-width">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Enter keyword" />
						<button type="submit" class="btn btn-search"><i class="ion-ios-search-strong"></i></button>
					</div>
				</form>
			</li>
			
			<li class="dropdown navbar-user">
				<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
					<span class="user-image online">
						<img id="user-image-icon" *ngIf="identity.image && identity.image!='null'"
							src="{{apiurl + 'get-image-user/' +identity.image}}" /> 
					</span>
					<span class="hidden-xs" id="user-name-bnanner"> {{identity.name}} </span>|  <i class="fa fa-bars"></i>
				</a>
				<ul class="dropdown-menu animated fadeInLeft">
					<li class="arrow"></li>
					<li><a [routerLink]="['/mis-datos']">Actualizar datos</a></li>
					
					<li class="divider"></li>
					<li><a (click)="logOut()">Cerrar sesion</a></li>
				</ul>
			</li>
		</ul>
		<!-- end header navigation right -->
	</div>
	<!-- end container-fluid -->
</div>




<!-- begin #sidebar -->
<div id="sidebar" class="sidebar" *ngIf="identity" >

	<!-- begin sidebar scrollbar -->
	<div data-scrollbar="true" data-height="100%">
		<!-- begin sidebar user -->
		<ul class="nav">
			<li class="nav-profile">
				<div class="image">

					<a href="javascript:;"><img src="{{this.imageURL}}" alt="" /></a>
				</div>
				<div class="info">
					
					<small> {{this.identity.name}}  {{this.identity.surname}} </small>
				</div>
			</li>
		</ul>
		<!-- end sidebar user -->
		<!-- begin sidebar nav -->
		<ul class="nav">
			<li class="nav-header"></li>
			
			<li>
				<a href="calendar.html">
					<i class="fa fa-search"></i>
					<span>Buscar
					</span>
				</a>
			</li>
			<li  [routerLinkActive]="['active']">
				<a [routerLink]="['/artist',1]">
					<i class="fa fa-user-circle"></i>
					<span>Artistas
					</span>
				</a>
			</li>
			
	        <!-- begin sidebar minify button -->
			<li>
				<a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify">
					<i class="fa fa-arrow-left"></i>  
					<span>Collapse</span>
				</a>
			</li>
	        <!-- end sidebar minify button -->
		</ul>
		<!-- end sidebar nav -->
	</div>
	<!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg" *ngIf="identity"></div>
<!-- end #sidebar -->



<div id="content" class="content" [class.hidden]="!identity">
	<router-outlet></router-outlet>
</div>

<!-- begin login -->
<div class="col-md-6 col-md-offset-3 vert-offset-top-2" *ngIf="!identity">
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#default-tab-1" data-toggle="tab">
					<span class="visible-xs">Acceso</span>
					<span class="hidden-xs">Acceso</span>
				</a>
			</li>
			<li class="">
				<a href="#default-tab-2" data-toggle="tab">
					<span class="visible-xs">Registro</span>
					<span class="hidden-xs">Registro</span>
				</a>
			</li>
			
		</ul>

		<div class="tab-content">
			<div class="tab-pane fade active in" id="default-tab-1">
				<h3 class="m-t-10"><i class="fa fa-sign-in"></i> Log in</h3>
					
					<div class="panel-body">
						<div *ngIf="errorMessage"  class="alert alert-warning fade in ">
							<strong>Error! </strong>{{errorMessage}}
						</div>
				        <form 
				        	#loginForm="ngForm" 
				        	(ngSubmit)="onSubmit()"
				        	id="loginform"
				        	data-parsley-validate="true"
				        	>
				            <fieldset>
				                <div class="form-group">
				                    <label for="exampleInputEmail1">Email</label>
				                   <input  
				                    #email="ngModel" 
				                    name="email" 
				                    [(ngModel)]="user.email" 
				                    
				                   	class="form-control" type="text"  data-parsley-type="email" placeholder="Email" data-parsley-required="true" required />
				                   
				                </div>

				                <div class="form-group">
				                   <label for="exampleInputPassword1">Password</label>
				                   <input 
				                   #password="ngModel" 
				                   [(ngModel)]="user.password" 
				                   name="password" 
				                   type="password" class="form-control"  placeholder="Password" data-parsley-required="true" required/>

				                </div>
				             	
				                <button type="submit" class="btn  btn-primary m-r-5 col-lg-12" [disabled]="!loginForm.valid">Login </button>
				            </fieldset>
				        </form>

				    </div>
					
			</div>
			<div class="tab-pane fade" id="default-tab-2">
				<h3 class="m-t-10"><i class="fa fa-sign-in"></i> Sign up</h3>

					<div *ngIf="alertRegister && alertRegisterStyle;"
					     class="alert alert-{{alertRegisterStyle}}">

						{{alertRegister}}
					</div>
					<div *ngIf="alertErrorRegister && alertErrorRegisterStyle;"
					     class="alert alert-{{alertErrorRegisterStyle}}">
						{{alertErrorRegister}}
					</div>

					
					<div class="panel-body" *ngIf="!alertRegister">
				        <form 
				        	#registerForm="ngForm" 
				        	(ngSubmit)="onSubmitRegister()"
				        	id="registerform"
				        	 data-parsley-validate="true">
				            <fieldset>
				            	<div class="form-group">
				                   <label for="exampleInputEmail1">Nombre</label>
				                   <input 
				                   #name="ngModel" 
				                   [(ngModel)]="user_register.name" 
				                   name="name"				                   
				                   required minlength="3" 
				                   pattern="^([A-Za-záéíóú]){3,30}(\s([A-Za-záéíóú]){3,30})?$" 
				                   class="form-control" type="text" placeholder="Nombre"  />
				                </div>

				                <div *ngIf="name.invalid && (name.dirty || name.touched) && !alertRegister"
								     class="alert alert-danger">

									Formato inválido

								</div>

				                <div class="form-group">
				                    <label for="exampleInputEmail1">Apellidos</label>
				                   <input 
				                   #surname="ngModel" 
				                   [(ngModel)]="user_register.surname" 
				                   name="surname"
				                    required minlength="3" 
				                   pattern="^([A-Za-záéíóú]){3,30}(\s([A-Za-záéíóú]){3,30})?$" 
				                   class="form-control" type="text" 
				                   placeholder="Apellidos" />
				                </div>

				                <div *ngIf="surname.invalid && (surname.dirty || surname.touched) && !alertRegister"
								     class="alert alert-danger">

									Formato inválido

								</div>


				                <div class="form-group">
				                    <label for="exampleInputEmail1">Email</label>
				                   <input 
				                   #email="ngModel" 
				                   [(ngModel)]="user_register.email" 
				                   name="email" 
				                   required minlength="5" 
				                   pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" 
				                   class="form-control" type="text" id="email" name="email"  placeholder="Email"  />
				                </div>
				                <div *ngIf="email.invalid && (email.dirty || email.touched) && !alertRegister"
								     class="alert alert-danger">

									Formato inválido

								</div>
				                <div class="form-group">
				                    <label for="exampleInputPassword1">Password</label>
				                    <input 
				                    #password="ngModel" 
				                  	[(ngModel)]="user_register.password" 
				                   	name="password" 
				                   	required minlength="8"
				                    type="password" id="password-indicator-default" class="form-control m-b-5" placeholder="Password"/>
				                    <div id="passwordStrengthDiv" class="is0 m-t-5"></div>
				                </div>

				                <div *ngIf="password.invalid && (password.dirty || password.touched) && !alertRegister"
								     class="alert alert-danger">

									Formato inválido

								</div>

				                <div class="form-group">

				                    <label>Confirmar Password</label>
				                    <input 
				                    #passwordconf="ngModel" 
				                   	[(ngModel)]="user_register.passwordconf" 
				                   	name="passwordconf" 
				                   	required minlength="8" 
				                    type="password" class="form-control" placeholder="Password" >
				                </div>
					             <div *ngIf="passwordconf.invalid && (passwordconf.dirty || passwordconf.touched) &&  !alertRegister"
								     class="alert alert-danger">

									Formato inválido

								</div>
								<div *ngIf="passwordconf.touched && password.value!=passwordconf.value"
								     class="alert alert-danger">

									Las contraseñas no coinciden

								</div>
				                <button type="submit" class="btn btn-md btn-primary m-r-5 col-lg-12" [disabled]="!registerForm.valid || (password.value!=passwordconf.value)">Enviar</button>
				            </fieldset>
				        </form>
				    </div>
			</div>
		</div>
			
	</div>
<!-- ends  login -->



